.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}
.item-end {
  align-items: flex-end;
}
.item-start {
  align-items: flex-start;
}
.margin-l-50 {
  margin-left: 50px;
}
